<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>deliverSeoul</title>
</head>
<body>

<form action="/print_restaurant" method="POST">
    <p>Type your information and see the restaurants available from where you are.</p>

    <label for="phone_number">phone number:</label><br>
    <input id="phone_number" type="text" name="phone_number" value=""><br>

    <label for="street_number">street number:</label><br>
    <input id="street_number" type="text" name="street_number" value=""><br>

    <label for="street_name">street name:</label><br>
    <input id="street_name" type="text" name="street_name" value=""><br>

    <label for="apt_number">apt number:</label><br>
    <input id="apt_number" type="text" name="apt_number" value=""><br>

    <label for="city">city:</label><br>
    <input id="city" type="text" name="city" value="Seoul"><br>

    <label for="state">state:</label><br>
    <input id="state" type="text" name="state" value="Republic of Korea"><br><br>

    <input type="submit" value="submit">
</form>

</body>
</html>